<?xml version="1.0" encoding="UTF-8"?>
<!-- Extra logging related to initialization of Log4j.
 Set to debug or trace if log4j initialization is failing. -->
<Configuration status="warn">
    <Appenders>
        <!-- Console appender configuration -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%highlight{%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n}" disableAnsi="false"/>
        </Console>
        <File name="namantam1.StreamExample" fileName="logs/namantam1.StreamExample.log">
            <PatternLayout pattern="%pid-thread-%tid %F:%L - %msg%n" />
        </File>
    </Appenders>
    <Loggers>
        <!-- Root logger referring to console appender -->
        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>
        <Logger name="namantam1.StreamExample" level="info">
            <AppenderRef ref="namantam1.StreamExample" />
        </Logger>
    </Loggers>
</Configuration>